@require '../../../components/register'
@require '../../../components/vouchers'

body {
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-size: 50px;
  margin-left: 5px;
}
input {
  font-size: 24px;
}
textarea {
  font-size: 24px;
}

.form {
  width: 40%;
  float: left;
  
}
.table {
  width: 58%;
  float: left;
}

.search {
  margin: 5px;
  padding: 5px;
}

.voucher {
  margin: 5px;
  padding: 5px;
}