.fields input {
    margin: 5px;
    padding: 5px;
    width: 90%;
}
.fields textarea {
  margin: 5px;
  padding: 5px;
  width: 90%;
  height: 100px;   
}
.fields button {
  margin: 5px;
  padding: 25px;
  font-size: 34px;
}
 